<%= javascript_pack_tag "dropzone_controller" %>

<div class="navbar bg-dark">
    <div class="nav-items">
      <%= image_tag "Music Disk.png", size: "40x40", alt: "" %>
      <p>Minecraft Multiplayer Records</p>
    </div>
  </div>

<div id="wrap">
  <div id="main" class="">
    <%= form_with url: "/track", method: :post, model: @track, 
      class: "dropzone", id: "track-uploader" do |form| %>
      <div class="dz-default dz-message">
        <h3>Drop tracks here</h3> or
        <strong>click</strong> to browse files
      </div>
    <% end %>

    <hr>

    <div id="track-table"></div>
    <%= button_tag "Download Resource Pack", type: 'button', onclick: "download()", id: "download-btn", class: 'btn btn-default', disabled: true %>
  </div>
</div>
<footer class="footer bg-dark">
  <div class="container">
    <p>This website is not affiliated with Mojang</p>
  </div>
</footer>
