<%= javascript_pack_tag "dropzone_controller" %>

<nav class="navbar navbar-inverse">
  <a class="navbar-brand" href="#">
    <%= image_tag "Music Disk.png", size: "30x30" %>
    Bootstrap
  </a>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      
    </div>
    <div class="col-sm-8 text-left"> 

      <%= form_with url: "/track", method: :post, model: @track, 
        class: "dropzone", id: "track-uploader" do |form| %>
        <div class="dz-default dz-message">
          <h3>Drop tracks here</h3> or
          <strong>click</strong> to browse files
        </div>
      <% end %>

      <hr>

      <div id="trackTable"></div>
      <%= button_tag "Download Resource Pack", type: 'button', onclick: "download()", class: 'btn btn-default' %>
    </div>
    <div class="col-sm-2 sidenav">
      
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>
